# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.xcodeproj
*.xcworkspace
*.sln
*.sdf
*.opensdf
*.suo
*.user
*.userprefs
*.pidb
*.log
# VisualStudio
.vscode/
*.VC.db
# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
# Mac
.DS_Store
# Python
__pycache__/
*.pyc
